.header-container{
    width: 100%;
}

header{
    display: flex;
    max-height: 88px;
    height: 88px;
    background-color: var( --neutral-8);
    overflow: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.header-left{
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: nowrap;

    .line{
        height: 48px;
        width: 1px;
        background-color: var(--neutral-6);
    } 

    .logo{
        display: flex;
        gap: 8px;
        width: 106px;
        height: 36px;
        align-items: center;
        
        .logo--img{
            width: 36px;
            height: 36px;
        }
        
        .logo--name{
            font-size: 27px;
            font-weight: 600;
            font-family: var(--font-secondary);
            color: var(--neutral-2);
        }
    }
    

    
    .header-left--selectRoles{
        background: transparent;
        color: var(--neutral-4);
        font-weight: 700;
        border: none;
        width: 94px;
        height: 24px;
        gap: 8px;
    }
}


.header-right{
    align-items: center ;
    display: flex;
    gap: 24px;
    font-family: var(--font-primary);

}

    
.header-right--iconLanguage{
    width: 16px;
    height: 16px;
}

.header-right--support{  
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: var(--neutral-2);
      
}

.header-right--notification{
    position: relative;
    width: 40px;
    height: 40px;
    justify-content: center;
}

.header-right--notification::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    background: var(--primary-4);
    top: 0;
    right: 0;
    gap: 10px;
}

.notification--notificationImg{
    width: 24px;
    height: 24px;

}

.header-right--avt{
    width: 40px;
    height: 40px;
    border-radius: 40px;   
}


   /* tablets */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    header {
        padding: 20px 40px;
    }
    .header-right--iconLanguage{
        display: none;
    }

    
    .header-right--support{  
        display: none;
          
    }


    .header-right--btn{
        display: none;
    }
}

/* mobile */
@media only screen and (min-width: 320px) and (max-width: 739px){ 
 
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 48px 32px 24px 32px;
        padding: 0px 0px;
        height: 100%;
    }

    .header-left{
        gap: 8px;
        margin-right: 73px;
      
        .logo{
            display: flex;
            gap: 8px;
            width: 94px;
            height: 94px;
            align-items: center;
    
            .logo--img{
                width: 32px;
                height: 32px;
            }
    
            .logo--name{
                font-size: 24px;
                font-weight: 600;
                font-family: var(--font-secondary);
                color: var(--neutral-2);
            }
    
        }
    }


    .line{
        display: none;
    }


    .header-left--selectRoles{
        display: none;
    }


    .header-right{
        gap:20px;
    }


    .header-right--iconLanguage{
        display: none;
    }
    

    .header-right--avt{
        width: 32px;
        height: 32px;
    }


    .header-right--support{  
        display: none;
          
    }


    .header-right--btn{
        display: none;
    }


    .header-right--btn_mobile{
        display: none;
    }

    
    .header-right--nav-mobile{
        display: flex;
    }


}